@import "modules/init";
@import "include/variables";
@import "include/buttons";
@import "include/common";
@import "include/fonts";
@import "include/forms";
@import "include/over";

@import "include/block/header";
@import "include/block/select-city";
@import "include/block/logo";
@import "include/block/hamburger";
@import "include/block/hamburger-menu";
@import "include/block/choose";
@import "include/block/header-contacts";
@import "include/block/menu";

@import "include/block/custom-dropdown";

@import "include/block/page";
@import "include/block/about";
@import "include/block/delivery";
@import "include/block/contacts";

@import "include/block/breadcrumbs";
@import "include/block/pagination";

@import "include/block/big-slider";
@import "include/block/block-info";
@import "include/block/index-about";
@import "include/block/advantages";

@import "include/block/catalog-sections";
@import "include/block/catalog-list";
@import "include/block/product-detail";

@import "include/block/news-list";

@import "include/block/price-list";

@import "include/block/download-sheet";
@import "include/block/feedback-form";
@import "include/block/modal-form";

@import "include/block/custom-modal";

@import "include/block/footer";
@import "include/block/who-dev";


.sales {
  .block-info {

    &-item {
      width: 100% !important;
      margin-top: 20px;
      max-height: 240px;
      overflow: hidden;
      position: relative;


      &-image {
        box-shadow: none;
      }

      &-description {
        .title {
          font-weight: 800;
          font-size: 24px;
          line-height: 30px;
        }

        .text {
          font-weight: 400;
          font-size: 16px;
          line-height: 25px;
        }
      }
    }

    &-list {
      margin: 0;
      flex-direction: column;
    }
  }
}