extends include/layer

include include/block/breadcrumbs
include include/mixin/priceElement

block contents
    .page-container.container
        .page-side
            include include/block/page-side
        .page-content
            +breadcrumbs([
                {
                    title: 'Главная',
                },
                {
                    title: 'О компании',
                },
            ])
            .page-title О компании
            .about
                .about-description
                    p Компания ООО «Мастер Шпон» занимается оптово-розничной реализацией высококачественного натурального шпона, шпона файн-лайн, пиломатериала ценных пород дерева, мебельных щитов, шпонированного МДФ, березовой фанеры. Компания на протяжении уже 20 лет удерживает за собой одно из ведущих мест на российском рынке и успела зарекомендовать себя как надежный партнер, завоевав положительную профессиональную репутацию. Продукция деревообработки пользуется заслуженным спросом. Мы представляем необходимый ассортимент качественных пиломатериалов, как ценных пород, так и более распространенных видов древесины:
                P
                    b Пиломатериалы ценных пород:&nbsp;
                    | ясень, дуб, бук. Основными потребителями продукции являются столярные и мебельные цеха.
                p
                    b Мебельный щит&nbsp;
                    | из традиционно ценных материалов: ясень, сосна, дуб, береза. Мебельный щит является натуральным, экологически безопасным материалом для изготовления мебели из массива дерева, деревянных лестниц, проведения отделочных работ. В наличии есть цельноламельные и сращенные мебельные щиты по доступным ценам.
                p
                    b Натуральный шпон&nbsp;
                    | березы, бука, дуба, сосны, ясеня и других пород, обладает уникальными внешним видом и отличается разными цветовыми оттенками и структурой. Эстетические качества предлагаемого шпона очень высоки и не уступают по своим декоративным свойствам натуральному массиву. Метод фанерования позволяет создавать лёгкую и доступную по цене мебель, устойчивую к деформации, пересыханию, перепадам температур и влажности.
                p
                    b МДФ шпонированный.&nbsp;
                    | Плита МДФ покрыта с двух сторон шпоном натурального дерева. Эта плита отличного качества хорошо заменяет изделия из ценной древесины. Плиты используются для изготовления мебели и внутренней отделки интерьера в сухих помещениях, без выполнения несущей функции.
                p
                    b Кромка&nbsp;
                    | из натурального шпона. Основным потребительским предназначением кромки из натурального шпона является декорирование краёв изделий, а также их защита от воздействия влаги, от испарения пропитывающих смол и других негативных последствий.
                p
                    b Березовая фанера&nbsp;
                    | - необычайно прочный и водостойкий материал. Берёза даёт продукции красивую структуру древесины и повышенные физико-механические свойства. Эти качества сделали ее популярной в производстве мебели, строительстве , оформлении интерьера и экстерьера.
                p
                    b Гибкая фанера&nbsp;
                    | производится из шпона тропического дерева Сейба (Ceiba), которое обладает уникальными свойствами, а самое главное прочностью и гибкостью. Фанера может гнуться в продольном и поперечном направлении, может использоваться как в одиночных листах, так и в более толстых конструкциях. При отделки хорошо применяются все виды лаков, краски, тонировки.
                p
                    b Шпон файн-лайн
                    | изготавливается из мягких пород древесины, отличающейся быстрым ростом. Его так же называют инженерным и реконструируемым. Материал имеет минимальное количество дефектов и позволяет воспроизвести любую породу древесины. Технология файнлайн позволяет производить листы более экономно используемых размеров. Что уменьшает стоимость шпона для производства стеновых и мебельных щитов, мебели, межкомнатных дверей.
                p География наших поставок выходит за пределы Сибирского федерального округа. Наши клиенты — это государственные и коммерческие фабрики, заводы и мастерские по всей России. Сотрудничество с крупными транспортными компаниями Новосибирска позволяет нам самостоятельно, быстро и своевременно отправить заказ в любой регион страны. Постоянное наличие продукции на складе в достаточном количестве позволяет сократить время между заказом и получением товара. Таким образом, мы обеспечиваем регулярные бесперебойные поставки.
    include include/block/feedback-form