doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Вёрстка
    body
        ul
            li
                a(href="home.html") Главная страница
            li
                a(href="about.html") О компании
            li
                a(href="delivery.html") Доставка
            li
                a(href="contacts.html") Контакты
            li
                a(href="prices.html") Цены
            li
                a(href="news.html") Новости
            li
                a(href="sections.html") Все разделы
            li
                a(href="section.html") Раздел каталога
            li
                a(href="product_detail.html") Детальная карточка товара
            li
                a(href="modal_feedback.html") Моадльное окно: Заказать обратный звонок
            li
                a(href="modal_request.html") Моадльное окно: Заявка на пиломатериал