extends include/layer

include include/block/breadcrumbs
include include/mixin/catalogElement

block contents
    .page-container.container
        .page-side
            include include/block/page-side
        .page-content
            +breadcrumbs([
                {
                    title: 'Главная',
                },
                {
                    title: 'Каталог',
                },
                {
                    title: 'Кромка',
                },
            ])
            .page-title Кромка
            .catalog-list-container
                .download-file Скачать оптовый прайс на кромку
                .catalog-list
                    -
                        var catalogList = [
                            {
                                image: '/assets/images/catalog/elements/1.png',
                                name: 'Анегри',
                            },
                            {
                                image: '/assets/images/catalog/elements/2.png',
                                name: 'Белый ясень',
                            },
                            {
                                image: '/assets/images/catalog/elements/2.png',
                                name: 'Береза',
                            },
                            {
                                image: '/assets/images/catalog/elements/2.png',
                                name: 'Белый ясень',
                            },
                            {
                                image: '/assets/images/catalog/elements/2.png',
                                name: 'Береза',
                            },
                            {
                                image: '/assets/images/catalog/elements/2.png',
                                name: 'Бук',
                            },
                            {
                                image: '/assets/images/catalog/elements/2.png',
                                name: 'Белый ясень',
                            },
                            {
                                image: '/assets/images/catalog/elements/2.png',
                                name: 'Береза',
                            },
                            {
                                image: '/assets/images/catalog/elements/2.png',
                                name: 'Бук',
                            },
                        ];
                    each product,index in catalogList
                        +catalogElement(product)
                .catalog-list-description
                    p Кромка представляет собой неразрывную ленту длиной до 250 м, получаемую при сращивании натурального шпона по длине. Лицевая сторона кромки шлифованная, а обратная сторона пропитана клей расплавом. Для прочности она дублируется синтетическим материалом, благодаря чему не трескается и очень хорошо гнется.
                    p Кромку производят из древесины березы, бука, венге, дуба, ореха, сосны и ясеня. Облицованные таким образом детали приобретают красивый массивный вид.
                    b Области применения:
                    ul
                        li Облицовка торцевых деталей мебели.
                        li Дверных полотен.
                        li Укутывания (обволакивания) профильных погонажных изделий.
                    b Характеристики кромки:
                    p Сращена по длине способом зубчатой стыковки. Высокое качество соединения делает места соединений практически невидимыми.
                    ul
                        li Дублирована нетканым синтетическим материалом и прошлифована по лицевой поверхности. Благодаря чему, существенно уменьшается вероятность растрескивания шпона в местах перегиба и вероятность сколов при снятии фасок при облицовке рельефных деталей.
                        li Изготовлена из натурального шпона.
                        li Представляет собой неразрывную шпоновую ленту длиной до 250 метров.
                        li Технология сращивания кромки гарантирует невидимые места и высокую прочность стыков.
                        li Вся кромка поставляется с уже отшлифованной лицевой стороной, дополнительная шлифовка не требуется.
                        li Постоянное наличие на складе стандартных позиций.
                        li Ширина от 19 до 60 мм.
                    p Компания «Мастер Шпон» предлагает высококачественную кромку по выгодным ценам. Роль кромочных материалов постоянно растёт, поэтому мы постоянно работаем над совершенствованием технологий производства и качеством материалов. Наши специалисты всегда готовы ответить на интересующие вас вопросы.
    include include/block/feedback-form